@model ssembassy_ankara.Models.EducationAndCulture

@{
    ViewBag.Title = "Preview Education And Culture";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Description = "Education and Culture page before publishing";
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="card-panel">
            @if (Model != null)
            {
                <div class="pull-right">
                    <a href="@Url.Action("EditEmbassyMission", new {id = Model.Id})" class="btn btn-warning btn-xs">
                        <i class="fa fa-edit"></i> Edit
                    </a> | 
                    <a href="@Url.Action("DeleteEducationAndCulture", "CPanel", new {id = Model.Id})" class="btn btn-danger btn-xs">
                        <i class="fa fa-remove"></i> Delete
                    </a>
                </div>
                @Html.Raw(Model.Body)
            }
            else
            {
                <p class="text-gray">
                    <em>No content added yet!</em><br /><br />
                    <span>@Html.ActionLink("Create Page", "CreateEducationAndCulture", null, new { @class = "btn btn-flat btn-success" })</span>
                </p>
            }
        </div>

    </div>
</div>