@model ssembassy_ankara.Models.EducationAndCulture

@{
    ViewBag.Title = "Education And Culture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-panel grey lighten-5 z-depth-0">
    @if (Model != null)
    {
        @Html.Raw(Model.Body)
    }
    else
    {
        <h5>South Sudan Education and Culture</h5>
        <p class="grey-text">Content Unavailable</p>
    }
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $('p img').addClass('responsive-img');
        });
    </script>
}


