
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="carousel carousel-slider">
    <!-- Articles Here -->
    <a class="carousel-item" href="#one!"><img src="https://placeimg.com/960/480/tech"></a>
    <a class="carousel-item" href="#two!"><img src="https://placeimg.com/960/480/any"></a>
    <a class="carousel-item" href="#three!"><img src="https://placeimg.com/960/480/tech"></a>
    <a class="carousel-item" href="#four!"><img src="https://placeimg.com/960/480/any"></a>
</div>

<!-- card panels -->
<div class="row">
    <div class="col s6">
        <a href="@Url.Action("Index", "Visa")">
            <div class="card-panel blue hoverable">
                <p class="white-text center">VISA</p>
            </div>
        </a>
    </div>
    <div class="col s6">
        <a href="#">
            <div class="card-panel red hoverable">
                <p class="white-text center">IMPORTANT NOTICE</p>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <!-- News feed -->
        <h5>LATEST NEWS</h5>
        <div class="divider"></div>
        <div class="card-panel wheat lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <a href="#">
                        <img src="@Url.Content("~/Content/img/peace.jpg")" alt="" class="responsive-img">
                    </a>
                </div>
                <div class="col s10">
                    <a href="#">
                        <span class="black-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga fugit sapiente assumenda,
                            qui tempora iste culpa dolores neque a commodi doloribus sequi dignissimos sed cum
                            exercitationem molestias officiis, optio ab.
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card-panel wheat lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="@Url.Content("~/Content/img/ss2.jpg")" class="img-responsive" alt="News">
                </div>
                <div class="col s10">
                    <span class="black-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga fugit sapiente assumenda,
                        qui tempora iste culpa dolores neque a commodi doloribus sequi dignissimos sed cum
                        exercitationem molestias officiis, optio ab.
                    </span>
                </div>
            </div>
        </div>

        <div class="card-panel wheat lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="@Url.Content("~/Content/img/ss2.jpg")" alt="" class="responsive-img">
                </div>
                <div class="col s10">
                    <span class="black-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga fugit sapiente assumenda,
                        qui tempora iste culpa dolores neque a commodi doloribus sequi dignissimos sed cum
                        exercitationem molestias officiis, optio ab.
                    </span>
                </div>
            </div>
        </div>

        <!-- pagination -->
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
</div>