@model IEnumerable<ssembassy_ankara.Models.StaffBasicInfoViewModel>
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section custom_css
{
    <style>

    </style>
}

<div class="card-panel">
    <div class="card-title">
        <h5>List of staff</h5>
        <div class="divider"></div>
    </div>
    @if (Model.Any())
    {
        <div class="row">
            @foreach (var staff in Model)
            {
                if (staff.Position == "Ambassador")
                {
                    <h4>Head of Mission</h4>
                    @Html.Partial("_StaffMiniProfile", staff)<br/>
                }
                else
                {
                    @Html.Partial("_StaffMiniProfile", staff)
                }
            }
        </div>
    }
</div>
