@model IEnumerable<ssembassy_ankara.Models.StaffBasicInfoViewModel>
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h5>List of staff</h5>
    <div class="divider"></div>
    @if (Model.Any())
    {
        <div class="col s12">
            @foreach (var staff in Model)
            {
                if (staff.Position.Equals("Ambassador", StringComparison.CurrentCultureIgnoreCase))
                {
                    <h4>Head of Mission</h4>
                    @Html.Partial("_StaffMiniProfile", staff)<br/>
                }
                else
                {
                    @Html.Partial("_StaffMiniProfile", staff)
                }
            }
        </div>
    }
    else
    {
        <p class="grey-text">No staff added</p>
    }
</div>
