@model ssembassy_ankara.Models.article

@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "#" + Model.id;
    ViewBag.Published = Model.published.ToString("dd/MM/yyyy");
}
<style>
    .page-header {
        margin: 10px 0 5px 0;
        font-weight: bold;
    }
     .article-image {
         margin: 10px 0;
     }
</style>
<div class="invoice">
    <section class="article-box">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    @Html.DisplayFor(model => model.title)
                </h2>
                <small class="text-gray">Published: @ViewBag.Published</small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="article-body">
                    <div class="article-image">
                        @if (!string.IsNullOrEmpty(Model.imageUrl))
                        {
                            <img src="@Url.Content(""+ Html.DisplayFor(model => model.imageUrl) +"")" class="img-responsive"/>
                        }
                    </div>
                    <div class="article-content">
                        @Html.Raw(Model.contents)
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
