@model ssembassy_ankara.Models.article

@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "#" + Model.id;
    ViewBag.Published = Model.published.ToString("d");
}
<style>
    .page-header {
        margin: 10px 0 5px 0;
        font-weight: bold;
    }
     .article-image {
         margin: 10px 0;
     }
    .subtitle {
        color: #ccc;
    }
</style>
<div class="invoice">
    <section class="">
        <div class="card-panel grey lighten-5 z-depth-0">
            <h5 class="">
                @Html.DisplayFor(model => model.title)
            </h5>
            <div class="divider"></div>
            <small class="subtitle">Published: @ViewBag.Published</small>
            <div class="article-image">
                <img src="@Url.Content(""+ Model.imageUrl +"")" class="responsive-img"/>
            </div>
            <div class="article-content">
                @Html.Raw(Model.contents)
            </div>
        </div>
    </section>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('.article-content > p img').addClass('responsive-img');
        });
    </script>
}
