@model ssembassy_ankara.Models.article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Published = Model.published.ToString("d");
}
@section custom_css
{
    <style>
        .page-header {
            margin: 10px 0 5px 0;
            font-weight: bold;
        }

        .article-image {
            margin: 10px 0;
        }
        .article-image img {
            margin: 0 auto;
            display: table;
        }
        .subtitle {
            color: #ccc;
        }
    </style>
}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="card-panel grey lighten-5 z-depth-0">
            <h5>@Html.DisplayFor(model => model.title)</h5>
            <div class="divider"></div>
            <small class="subtitle">Published: @ViewBag.Published</small>
            <div class="article-image">
                <img src="@Url.Content(""+ Model.imageUrl +"")" class="responsive-img center" />
            </div>
            <div>
                @Html.Raw(Model.contents)
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('.article-content > p img').addClass('responsive-img');
        });
    </script>
}
