
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12">
        <h5>Register with the embassy here</h5>
        <p>This form is only for SOUTH SUDANESE NATIONALS ONLY</p>
    </div>
    <div class="col s6">
        <div class="card-panel center grey">
            <p>To register with the embassy click "Register"</p>
            @Html.ActionLink("Register", "PersonalDetails", "CitizenRegistration", null, new {@class = "btn btn-primary"})
        </div>
    </div>
    <div class="col s6">
        <div class="card-panel center grey">
            <p>Click "Continue" to update your information</p>
            @Html.ActionLink("Continue", "", "CitizenRegistration", null, new { @class = "btn btn-warning" })
        </div>
    </div>
</div>
