@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-panel">
    <h4 class="center-text">Registration Form For South Sudanese nationals in Turkey</h4>
    <div class="divider"></div>
    <small class="red-text">This registration form is for nationals only.</small>
    <div class="reg-form">
        <div id="divContainer">
            @Html.Partial("_AboutCitizen")
        </div>
    </div>
</div>

