
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12">
        <h5>Register with the embassy here</h5>
        <p>This form is only for SOUTH SUDANESE NATIONALS ONLY</p>
    </div>
    <div class="col s12 m6">
        <div class="card-panel center">
            <p>Click the register button to register with the embassy.</p>
            @Html.ActionLink("Register", "PersonalDetails", "CitizenRegistration", null, new {@class = "btn btn-primary"})
        </div>
    </div>
</div>
