body {
    font-family: 'Roboto Condensed', sans-serif;
}
nav {
    background-color: #003875;
    font-family: 'Oswald', sans-serif;
}
.embassy-text {
    background-color: transparent;
}
nav a.sidenav-trigger i {
    color: yellow;
}
nav .dropdown-content li a {
    font-family: 'Roboto Condensed', sans-serif;
}
.page-footer {
    background-color: #003875;
}
.footer-copyright {
    background-color: #022852 !important;
}
nav .brand-logo {
    position: relative;
}

/*
nav.nav-extended .nav-content {
    min-height: 40px;
}
*/
nav .nav-extended select {
    background-color: transparent;
    border: rgba(38, 166, 154, 0.26);
    color: antiquewhite;
    margin-top: 5px;
    height: 35px;
}
nav .nav-extended select > option {
    color: rgba(17, 17, 17, 0.8)
}
footer ul li a {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
footer h6 a {
    color: yellow;
}
.card .card-title {
    font-size: 16px;
}
.card .card-content {
    padding: 5px;
}
.carousel {
    border: 1px solid #eee;
    /*margin: 25px 0;*/
}
.sidenav form .input-field input{
    border: 2px solid #eee;
    padding: 10px;
    height: 20px;
    width: 90%;
    font-size: 18px;
}
.collapsible-body, .collapsible-header {
    padding: 0.5rem;
}
address {
    font-style: normal;
}
/* styles for '...' */ 
.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em; 
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
  
    /* */
    margin-right: -1em;
    padding-right: 1em;
}
.block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}
.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    width: 1em;
    /* set width and height */
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
.collapsible {
    margin-top: 0;
}
.btn, .btn-large, .btn-small {
    background-color: #003875;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0b6eda;
    -webkit-box-shadow: 0 1px 0 0 #0b6eda;
    box-shadow: 0 1px 0 0 #0b6eda;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    height: 1.5rem;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #0b6fdc;
}
/* media queries */
/* small screens*/
@media only screen and (max-width: 767px) {
    a.brand-logo img {
        width: 65px;
        position: relative;
        top: 8px;
    }
    .sidenav a.brand-logo img {
        width: 130px;
    }
    nav a.sidenav-trigger i {
        position: absolute;
    }
    nav.nav-extended {
        padding: 0 15px;
    }
    nav span.embassy-text {
        font-size: 16px;
        position: relative;
        left: 0px;
        top: -16px;
        margin-left: 10px;
    }
    
    nav.nav-extended .nav-content {
        min-height: 50px;
    }
    
    #nav-logo {
        display: block;
    }
    .footer-logo {
        padding-top: 20px;
    }
    
}

/* medium size screens */
@media only screen and (min-width: 768px) {
    #nav-logo {
        display: contents;
        position: relative;
    }
    .embassy-text {
        position: absolute;
        top: 25px;
        padding-left: 10px;
    }
    /*
    nav.nav-extended .nav-content {
        min-height: 0;
    }
    */
}

/* Larger screens */
@media only screen and (min-width: 992px)
{
    nav a.brand-logo img {
        width: 110px;
        height: 110px;
        position: absolute;
        margin-top: 16px;
        top: -6px;
        left: 5px;
    }
    nav .nav-wrapper i {
        height: 24px;
        line-height: 24px;
    }
    nav i {
        font-size: 24px;
    }
    nav ul li {
        padding: 0;
    }
    nav ul a {
        padding: 9px 10px;
        font-size: 0.9rem;
    }
    nav.nav-extended {
        padding: 0 66px;
    }
    nav.nav-extended .nav-content {
        margin-top: 55px;
        min-height: 40px;
    }
    .embassy-text {
        font-size: 26px;
        position: relative;
        left: 125px;
        top: 30px;
    }
    main.container {
        width: 85% !important;
    }
    .dropdown-content li a {
        color: #333;
        border-bottom: 1px solid #eee;
    }
}