
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col xs-12">
        <div class="card-panel center">
            <h6 class="green-text">Your Visa application has been submitted successfully!</h6>
            <p>We shall notify you the outcome of your application via the contact details you provided.</p>
            <a class="btn btn-primary" href="@Url.Action("Index", "Home")"><i class="material-icons">home</i> Home</a>
        </div>
    </div>
</div>

