@model IEnumerable<ssembassy_ankara.Models.NewsViewModel>

<div class="articlesCarousel">
    <!-- Articles Here -->
    @foreach (var article in Model)
    {
        <div>
            <a href="@Url.Action("Details", "Articles", new {id = article.Id})">
                @if (!string.IsNullOrEmpty(article.ImgUrl))
                {
                    <img src="@Url.Content(""+ article.ImgUrl +"")" title="@article.Title">
                }
            </a>
        </div>
    }
</div>
