@model IEnumerable<ssembassy_ankara.Models.NewsViewModel>

<div class="articlesCarousel">
    <!-- Articles Here -->
    @if (Model.Any())
    {
        foreach (var article in Model)
         {
             <div>
                 <a href="@Url.Action("Details", "Articles", new {id = article.Id})">
                     <img src="@Url.Content(""+ article.ImgUrl +"")" title="@article.Title" class="responsive-img">
                 </a>
             </div>
         }
    }
</div>
