
<div class="row">
    <div class="col-xs-12 header">
        <div class="col-xs-3">
            <img class="pull-left img-responsive" src="~/Content/img/emblem.png" />
        </div>
        <div class="col-xs-6">
            <h3 class="title">Republic of South Sudan</h3>
            <p class="sub-text">
                Ministry of Interior <br/>
                Directorate of Nationality, Passports and Immigration
            </p>
        </div>
        <div class="col-xs-3">
            <img class="pull-right img-responsive" src="~/Content/img/emblem.png" />
        </div>
    </div>
    <div class="hr-divider"></div>
</div>