
<div class="row footer">
    <div class="col-xs-12">
        <p class="ft">
            <span>Nationals Application Form (Form 6A)</span> <span class="pull-right">Page | </span>
        </p>
    </div>
</div>