@model ssembassy_ankara.Models.StaffBasicInfoViewModel

<div class="col s12 m4 l4">
    <div class="card amb-card">
        <div class="card-image">
            @if (!string.IsNullOrEmpty(Model.ImgUrl))
            {
                <img src="@Url.Content("" +Model.ImgUrl + "")">
            }
            else
            {
                <img src="@Url.Content("~/Content/img/muser.png")">
            }
        </div>
        <div class="card-content center">
            <span class="card-title activator grey-text text-darken-4">@Model.FullName</span>
            <p class="grey-text">@Model.Position</p>
        </div>
    </div>
</div>