
<div class="row">
    <div class="col-xs-12 header">
        <div class="col-xs-3">
            <img class="pull-left img-responsive" src="~/Content/img/eagle.png" />
        </div>
        <div class="col-xs-6">
            <h3 class="title">Republic of South Sudan</h3>
            <p class="sub-text">
                Ministry of Interior <br />
                Directorate of Nationality, Passports and Immigration
            </p>
        </div>
        <div class="col-xs-3">
            <img class="pull-right img-responsive" src="~/Content/img/imm-logo.jpg" />
        </div>
    </div>
    <div class="col-xs-12">
        <div class="h-div"></div>
    </div>
    <div class="col-xs-12">
        <div class="h-two"></div>
    </div>
    <div class="col-xs-12">
        <div class="v-note">
            <strong>Warning: </strong>giving false information is considered a crime in accordance with the Passport and Immigration Act, 2011. Visa fees are
            non-refundable. Visa is not transferable and attempt to do so is considered a crime.
        </div>
    </div>
</div>
