@model ssembassy_ankara.Models.WelcomeMessage

<!-- welcoming message -->
<div class="card">
    <div class="card-title">Welcome Message</div>
    <div class="card-content">
        @Html.Raw(Model.Message)
    </div>
</div>